# python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# data lake + outputs (created at runtime)
data/*
artifacts/*

# env / airflow local state
.env
airflow_home/
